<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div class="page-header">
      <div class="text-center">
        {{#if logo_url}}
        <img src="{{logo_url}}" height="100" />
        {{/if}}
        <h3>{{polyglot lang 'login'}}</h3>
      </div>
    </div>
    {{#if client_name}}
    <div class="alert alert-info">
      <p class="small">
        <b>{{polyglot lang 'loginTo'}} {{client_name}}</b><br />
        {{polyglot lang 'redirectNotice'}} "{{client_name}}".
      </p>
    </div>
    {{/if}}
    {{#each errors}}
    <div class="alert alert-warning">
      <b>Error.</b> {{{this}}}
    </div>
    {{/each}}
    <a class="btn btn-block btn-social btn-facebook" href="{{facebook_link}}">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <br />
    <form method="post">
      <div class="form-group">
        <label for="username">{{polyglot lang 'emailOrUsername'}}</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="{{polyglot lang 'emailOrUsername'}}" />
      </div>
      <div class="form-group">
        <label for="password">{{polyglot lang 'password'}}</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="{{polyglot lang 'password'}}" />
        <a href="{{recovery_link}}">{{polyglot lang 'forgetPassword'}}</a>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">{{polyglot lang 'login'}}</button>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="{{signup_link}}">{{polyglot lang 'signup'}}</a>
      </div>
    </form>
  </div>
</div>
