<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="page-header">
      <div class="text-center">
        {{#if logo_url}}
        <img src="{{logo_url}}" height="100" />
        {{/if}}
        <h3>Password recovery</h3>
      </div>
    </div>
    {{#each errors}}
    <div class="alert alert-warning">
      <b>Error.</b> {{{this}}}
    </div>
    {{/each}}
    {{#if success}}
    <div class="alert alert-success">
      <b>Success.</b> {{success}}
    </div>
    {{else}}
    {{#unless token}}
    <form method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
    {{else}}
    <form method="post" action="/password_recovery_proceed">
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="New password" />
      </div>
      <div class="form-group">
        <label for="password_confirm">New password confirmation</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="New password confirmation" />
      </div>
      <input type="hidden" name="token" value="{{token}}" />
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </form>
    {{/unless}}
    {{/if}}
  </div>
</div>
